<div class="template-edit-region">

	<div class="template-box-nav">
		<div class="template-box-delete">
			<div class="box-delete-icon">
				<img class="box-delete-img" src="assets/img/X.svg">
			</div>
			<div class="box-delete-text">Delete</div>
			<div class="clear"></div>
		</div>
		<div class="template-box-select">
			<div class="template-box-checkbox">
				<img class="template-box-checkbox-img" src="assets/img/check_bold.svg">
			</div>
			<div class="template-checkbox-text">Select</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="template-box-input">
		<div class="template-input-title">
			<div class="template-question-number">Q1:</div>
			<input type="text" class="template-question-title" placeholder="Title">
			<div class="clear"></div>
		</div>
		<div class="template-input-points">
			<div class="template-points-label">pts</div>
			<input type="text" class="template-points-value" placeholder="">
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>