
/* Style for Photo Grid */

#photo-grid {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.grid-photo {
  display: inline-block;
  opacity: 0;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: black;
  cursor: pointer;
  /* Use translate3d to force browser to use hardware acceleration. Make things smoother on Safari. */
  -webkit-transform: translate3d(0px, 15px, 0px);
          transform: translate3d(0px, 15px, 0px);
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.grid-photo.active {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.grid-photo.shrink {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
}


.grid-photo:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid-photo img {
  height: 100%;
  margin: auto;
  display: block;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* Use translate3d to force browser to use hardware acceleration. Make things smoother on Safari. */
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
