body {
  margin: 0;
  font-family: 'Lato';
  width: 100%;
  height: 100%;
  background-color: #121010;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  height: 100%;
  cursor: url(../img/remote.png), auto;
  border: 6px solid #121010;
  border-radius: 4% / 8%;
  overflow: hidden;
}

.screen {
  height: 100%;
  width: 100%;
}

.container:not(.tv-container) .screen {
  background-image: url(../img/copyright.gif);
  background-size: cover;
}

.container:not(.tv-container) .screen-content {
  opacity: 0
}

#title {
	margin-top: 20px;
  font-size: 42px;
  font-family: 'Megrim', cursive;
  text-decoration: none; /* no underline */
  cursor: inherit;
}

.no-select {
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#my-pic {
  margin-left: 8px;
}

#offwhite-band {
  position: absolute;
  left: -31px;
  top: -72px;
  cursor: inherit;
}

#audio-container {
  position: absolute;
  right: -175px;
  top: 30px;
}

#audio-button {
  font-family: 'Megrim', cursive;
  font-size: 26px;
  position: absolute;
  top: 26px;
  left: 71px;
  padding: 5px;
}

#menu {
  position: absolute;
  bottom: -100px;
  right: -20px;
  cursor: inherit;
  transition: 0.3s ease;
}

#menu:hover {
  bottom: -96px;
}

.screen-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  background-size: cover;
}

.screen-background {
  background-color: #121010;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.background-0 {
  background-image: url(../img/beach.gif);
}

.background-1 {
  background-image: url(../img/palm.gif);
}

.background-2 {
  background-image: url(../img/water.gif);
}

.background-3 {
  background-image: url(../img/island.gif);
}

.background-4 {
  background-image: url(../img/party.gif);
}

#sad-boiz {
  font-family: 'Megrim', cursive;
  margin-top: 15px;
  margin-bottom: -30px;
  font-size: 20px;
}

.neon {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 40px #FF00DE, 0 0 80px #FF00DE, 0 0 90px #FF00DE, 0 0 100px #FF00DE, 0 0 150px #FF00DE;
}

.neon-2 {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 40px #4dd0e1, 0 0 80px #4dd0e1, 0 0 90px #4dd0e1, 0 0 100px #4dd0e1, 0 0 150px #4dd0e1;
}

#audio-container:hover .neon, .neon:hover {
  transition: 0.2s ease;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 40px #00fff3, 0 0 80px #00fff3, 0 0 90px #00fff3, 0 0 100px #00fff3, 0 0 150px #00fff3;
}

.neon:not(.vhs-flicker), .neon-2:not(.vhs-flicker) {
  opacity: 0;
}

@media screen and (max-width : 800px) {
  #menu, #audio-container, #offwhite-band, #sad-boiz {
    display: none;
  }

  .screen-content {
    padding-bottom: 40px;
  }
}

#soundcloud {
  opacity: 0;
  position: absolute;
  top: -400px;
}



@keyframes flicker {
  0% {
    opacity: 0.20219;
  }
  5% {
    opacity: 0.78324;
  }
  10% {
    opacity: 0.50422;
  }
  15% {
    opacity: 0.52407;
  }
  20% {
    opacity: 0.8819;
  }
  25% {
    opacity: 0.48316;
  }
  30% {
    opacity: 0.25176;
  }
  35% {
    opacity: 0.8827;
  }
  40% {
    opacity: 0.40933;
  }
  45% {
    opacity: 0.37424;
  }
  50% {
    opacity: 0.70732;
  }
  55% {
    opacity: 0.98635;
  }
  60% {
    opacity: 0.30069;
  }
  65% {
    opacity: 0.17694;
  }
  70% {
    opacity: 0.36621;
  }
  75% {
    opacity: 0.71441;
  }
  80% {
    opacity: 0.70956;
  }
  85% {
    opacity: 0.56423;
  }
  90% {
    opacity: 0.49707;
  }
  95% {
    opacity: 0.86186;
  }
  100% {
    opacity: 0.09159;
  }
}
.tv-container {
  position: relative;
  overflow: hidden;
}
.tv-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.tv-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.tv-container::after {
  /*animation: flicker 0.6s infinite;*/
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.screen {
  width: 100%;
  height: 100%;
  border: none;
}

.tv-container > .screen {
  animation: turn-on 2s linear;
  animation-fill-mode: forwards;
}



