body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: AvenirNext;
	font-weight: normal;
	color: #4A4A4A;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
font-family: AvenirNext;
src: url("../type/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
font-family: AvenirNext;
src: url("../type/AvenirNextLTPro-UltLtCn.otf") format("opentype");
font-weight: 100;
font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
	padding: 5px;
	padding-top: 8px;
	border-bottom: 1px solid #F5A623;
	transition: 0.3s ease;
}

a:hover {
	background-color: #F5A623;
	color: white;
}

.clear {
	clear: both;
}

.section{
	height: 100vh;
	width: 100%;
	position: relative;

}

.center-container {
	width: 80%;
	height: 100%;
	position: relative;
	padding: 60px 45px;
	margin: 0 auto;
}

#logo {
	font-size: 24px;
	background-color: #F5A623;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	height: 30px;
}


.center {
	width: 100%;
	margin: 0 auto;
	margin-top: 160px
}

.title {
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 10px
}

.description {
	text-align: center;
	padding: 10px 0px;
}

.description-item {
	font-size: 18px;
	float: left;
	width: calc(50% - 10px);
	padding: 0px 15px
}

.description-item.left {
	text-align: right;
}

.description-item.right {
	text-align: left;
}

.description .description-seperator {
	font-size: 24px;
	opacity: .6;
	float: left;
	width: 20px;
	height: 20px
}

.description .description-seperator .seperator-align{
	margin-top: -2px
}

#work {
	position: absolute;
	bottom: 60px;

}

#ink-splash {
	width: 600px;
	position: absolute;
	right: calc(-10% - 100px);
	top: 40%;
}

#coming-soon {
	background: url("../img/swirl_pattern.png");
	height: 60vh;
}

#coming-soon i {
	text-align: center;
	width: 100%;
	font-size: 36px;
	margin-top: 20px;
	opacity: 0.72;
}

.overlay.white {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.12;
	position: absolute;
}

#landing-page {
	height: 90vh;
	overflow: hidden;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
	z-index: 1
}

.card {
	max-width: 440px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	box-sizing: content-box;
	padding: 40px 20px;
	background-color: white;
	width: 80%;
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.24)

}

.card-style {
	border-bottom: 1px solid #F5A623;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.card-title {
	font-size: 24px;
}

.card-body {
	font-size: 18px;
	opacity: 0.84;
	margin-top: 25px;
	margin-bottom: 10px
}

#coming-soon-card {
	margin-top: 100px
}


@media (max-width: 700px) {
	.title {
		font-size: 36px
	}
	.center-container {
		width: 100%;
		padding: 45px 30px;
	}

	.center {
		margin-top: 100px
	}

	#ink-splash {
		width: 400px;
		opacity: 0.6;
		top: 50%
	}

	#logo {
	font-size: 18px;
	padding: 3px 8px;
	height: 23px;
}
	.description-item {
		font-size: 16px
	}

	.description .description-seperator {
		font-size: 20px
	}

}
